.contenedorForm {
  background: -webkit-linear-gradient(
    90deg,
    #2c3e50,
    #4b8181,
    #a8c0a0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    90deg,
    #2c3e50,
    #4b8181,
    #a8c0a0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 20px;
  width: 600px;
  padding: 10px;
  box-shadow: 1px 2px 15px 13px rgba(0, 11, 252, 0.96);
  -webkit-box-shadow: 1px 2px 15px 13px rgba(0, 11, 252, 0.96);
  -moz-box-shadow: 1px 2px 15px 13px rgba(0, 11, 252, 0.96);
}

img {
  width: 600px;
  height: 100%;
}

@media (max-width: 767px) {
  .contenedorForm {
    width: 340px;
  }
}

@media (max-width: 1090px) {
  .contenedorImagen {
    display: none;
  }
}
